body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

.header-wrapper {
   background-color: #ffffff;
   color:#3a638a;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   padding: 100px 20px;
}

.header-styles {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

.header-styles2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    padding: 20px;
}

.center-column {
    display: flex;
    grid-template-columns: 1fr;
    row-gap: 42px;
    width: 500px;
    text-align: center;
}

/*.logo {
    display: flex;
    justify-content: center;
}

.logo img {
   width: 216px;
}
*/
.link-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    width: 140px;
    font-size: 25px;
    text-align: center;
    padding: 100px;
}

.link-wrapper a {
    font-family: 'Oswald', sans-serif;
    color: #3a638a;
    text-decoration: none;
    transition: 0.5s;
}

.link-wrapper a:hover {
   color: #21374d;
   letter-spacing: 2px;
   }

.right-column {
   display: flex;
   align-items: center;
    text-align: right;
}

.icon {
    font-size: 2em;
}

.homepage {
    background-image: url(assets/dandelion.jpg);
    padding: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-top: 10px solid #21374d;
    /*Photo by erica steeves on Unsplash*/
    /*Photo by Dominik Sostmann on Unsplash*/
    /*Photo by Aleksandr Ledogorov on Unsplash*/
}

.features-section {
    height: 400px;
    background-color: #ffffff;
    border-top: 10px solid #21374d;    
    color: #3a638a;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'Oswald', sans-serif;
    box-shadow: inset 0px -25px 79px -8px rgba(0,0,0,0.58);
}

.columns-wrapper {
    width: 1200px;
    display: flex;
    justify-content: center;    
}

.column {
    width: 400px;
    padding: 20px;
    margin: 42px;
    text-align: center;
    font-size:  12px;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.column:hover {
    border-bottom: 5px solid #ffffff;       
}

.footer-wrapper {
    display: flex;
    background-color: white;
    color: #1F1E1E;
    padding: 20px 20% 40px 20%;
}

.footer-name {
    font-size: 48px;
}

.footer-column-1 {
    font-size: 24px;
    align-items: flex;
    margin: 60px 15% 20px 35%;
    line-height: 40px;
    font-family: 'Oswald', sans-serif;
}
.p {
    font-size: 20px;
}
.social-media-links {
    height: 20px; 
}