body {
    background-color: #BFB378;
    }
    
.header {
    font-family: 'Stick No Bills', sans-serif;
    color: #A62E2E;
}
.ski-gear {
    font-family: 'Acme', sans-serif;
    color: #078C8C;
    }
.header2 {
    font-family: 'Abel', sans-serif;
    color: #014040; 
}
.ball-gear {
    font-family: 'Gemunu Libre', sans-serif;
    color: #697322; 
}
.header3 {
    font-family: 'Stick No Bills', sans-serif;
    color: #F28F38;
}