h1 {
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    line-height: 25px;
    }
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
  }
img {
    float: left;
    padding: 0px 30px 0px 30px;
}
div, p, ul {
    font-size: 15pt;
}